version: 2
jobs:
  build:
    docker:
      - image: cimg/go:1.15
    steps:
      - checkout
      - setup_remote_docker
      - deploy:
          name: Build and push image
          command: |
            echo "$DOCKER_PASS" | docker login --username "$DOCKER_USER" --password-stdin
            if [ -z "${CIRCLE_TAG}" ]; then
                make publish-image
            else
                make VERSION="${CIRCLE_TAG}" publish-image
            fi

workflows:
  version: 2
  build:
    jobs:
     - build:
         filters:
           tags:
             only: /.*/
